body{
    background-color: rgb(168, 224, 250);
    color: white;
    font-size: 21px;
    text-align: center;
}

h1  {
    font-style:inherit;
    font-size: 70px;
    color: blue;
}

h2  {
    font-size: 40px;
    color: red;

}

p   {
    color: black;
    background: aqua;
    padding: 30px;
}

ol  {
    list-style-type: upper-roman;
    color: rgb(15, 1, 1);
    background: rgb(86, 226, 226);
    margin: 10px;
    padding: 20px;
}

ol li{
    background: rgb(75, 75, 163);
    margin: 5px;

}

ul  {
    color: grey;
    background: white;
    margin: 10px;
    padding: 20px;
}

ul li{
    background: rgb(175, 175, 189);
    margin:  5px;
}

